@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family: 'Bebas Neue', cursive;
}
.nike-bg-gray{
    background-color: rgba(243, 240, 240, 0.911);
}
.text-orange{
    color: #FA804C;
    
}